/* NavBar Section */
.navbar {
    justify-content: center !important;
}

.navbar-brand,
.navbar-nav .nav-link {
    color: white !important;
}
/* Hero Section */
.img-fluid {
    width: 300px;
    border-radius: 300px;
    border: solid;
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
}

.hero-container {
    background: #191919;
    width: 100%;
    padding: 70px;
    color: white;
    text-align: center; 
}

.hero-container h1 {
    font-size: 48px;
    margin-bottom: 20px;
    animation: fadeInSideways 2s ease-in-out forwards;
}

.hero-container h4 {
    font-size: 24px;
    margin-bottom: 20px;
    animation: fadeInSideways 2s ease-in-out forwards;
}

.hero-container button {
    background: #b04e4e;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s, transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.hero-container button:hover {
    background: #8c3f3f;
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

/* About Me Section */
.aboutMe {
    background: #3b3b3b;
    width: 100%;
    padding: 80px;
}

.about-title h2 {
    color: white;
    font-size: 75px;
    margin: 30px auto;
    text-align: center;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}

.aboutmecard {
    height: 500px;
    width: 335px;
    padding: 30px 35px;
    background: #191919;
    border-radius: 40px;
    margin: auto 20px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.aboutmecard:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.aboutmecard i {
    font-size: 70px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color: white;
}

h5 {
    color: white;
    text-align: center;
    font-size: 35px;
    margin-bottom: 15px;
}

.pra ul {
    color: #fcfcfc;
    font-size: 0.95vw;
}

/* Projects Section */
.projects {
    background-color: #191919;
    margin: 0 auto;
}

.project-title h2 {
    color: white;
    font-size: 75px;
    margin: 0 auto; 
    text-align: center;
}

.card h5 {
    color: #191919 !important;
}

.card {
    height: 500px;
    margin: auto;
}

.card p{
    height: 60%;
}

.card img {
    max-width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
}

.card:hover img {
    transform: scale(1.1);
}

.card button{
    background-color: #b04e4e;
    width: 250px;
    height:40px;
    border: none;
    border-radius: 10px;
    color: white;
    font-style: bold;
    margin: auto !important;
    display: block;
    transition: background 0.3s, transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card button:hover {
    background-color: #8c3f3f;
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

/* Contacts Section */
.contact-form {
    margin: 0 auto;
    width: 100%;
    padding: 80px;
}

.contact-form h2 {
    font-size: 75px;
    width: 1000px;
    text-align: center;
}

.contacts-button{
    background-color: #b04e4e;
    width: 100px;
    height:48px;
    border: none;
    border-radius: 25px;
    color: white;
    font-style: bold;
}

.contacts-button:hover {
    background-color: #8c3f3f;
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

/* Footer Section */
footer {
    position: relative;
    width: 100%;
    height:320px;
    background: #191919;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer p:nth-child(1) {
    color: white;
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: bold;
}

footer p:nth-child(2) {
    color: white;
    font-size: 17px;
    width: 500px;
    text-align: center;
    line-height: 26px;
}

.social {
    display: flex;
}

.social a {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #b04e4e;
    border-radius: 50%;
    margin: 22px 10px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    
}

.end {
    position: absolute;
    margin: 0 auto;
    color: #b04e4e;
    bottom: 35px;
    font-size: 14px;
}

@media only screen and (max-width: 768px) {
    .box {
       width: 100%;
       display: block;
    }
    .aboutmecard {
        width: 80%; 
        margin: 20px auto; 
        padding: 20px; 
    }
    .about-title h2{
        font-size: 40px; 
        margin: 20px auto; 
    }
    .pra li {
        font-size: 16px;
    }
    .contact-form{
        padding: 10px !important; 
    }

    .contact-form h2{
        width: 100%; 
    }

}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
    .contact-form h2{
        width: 100%;
    }

    .box {
        width: 100%;
        display: block;
     }
     .aboutmecard {
         width: 100%;
         margin: 20px auto;
         overflow: hidden;
     }
     .about-title h2{
         display: block;
         width: 100%;
     }
     .pra{
         margin: auto;
         width: 100%;
         height: 60%;
         display: block;
     }
     .pra li {
        font-size: 3vw;
     }
     .projects{
        width: 100%;
        height: 60%;
        display: block;
     }
     .card {
        width: auto;
     }
     .card p {
        width: 100%;
     }

}

body {
    opacity: 0;
    animation: fadeInPage 1s ease-in-out forwards;
}

@keyframes fadeInPage {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fade-in {
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}